body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}


h1 {
    text-align: center;
    color: darkred;
}


h2 {
    text-align: center;
    color: darkgreen;
}
ul, ol {
    list-style-type: none;
    padding: 0;
}

ul li, ol li {
    margin-bottom: 10px;
}

ul {
    margin-left: 20px;
}

ol {
    margin-left: 30px;
}
